
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/photo.css'%}">
<!-- bootstap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--awesome icon-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- 구글 우분투 폰트-->
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/streaming_detail.css'%}">
 
<!-- ipfs loader-->
<script src="https://unpkg.com/ipfs/dist/index.js"></script>
<script src="https://unpkg.com/hlsjs-ipfs-loader@0.1.3/dist/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.plyr.io/3.4.8/plyr.js"></script>
<script src="{% static 'js/audio.js'%}"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.4.8/plyr.css">

{% endblock css %}


{% block content %}
<div id="content text-info">
    <h2 class="text-info">{{ object.title }} </h2>
</div>

<fieldset>
    <legend></legend>
<table class="photo-detail text-dark">
    <tr>
        <td>
            <a href="{{ object.image.url }}">
            <img style="max-width:100%" src="{{ object.image.url }}" />
            </a>
        </td>

        <td>
            <ul>
             
                <li>Album name</li>
                <p><a href="{% url 'photo:album_detail' object.album.id %}">
                {{ object.album.name }}</a> <br>
                <li>업로드 날짜</li> 
                {% if object.upload_date %} {{ object.upload_date }}     {% endif %}<br/>
        <br/>     <li>타이틀</li> 
                {% if object.title %} {{ object.title }}     {% endif %}
          <br/> <br/>       <li>기획사</li>   
                {% if object.agency %} {{object.agency}}  {% endif %}
                    </p>
            </a></p> 
              
            </ul>
        </td>
    </tr>
</table>
</fieldset>


<br/>

<fieldset style=width:1110px; text-dark">
   
<table class="photo-detail text-dark">

        <legend></legend>
        <h2 class="text-info">앨범 Description</h2>
        {% if object.description %}<div class="text-dark">{{ object.description | linebreaks }}</div>
        {% else %}<p>(blank></p> {% endif %}

</table>


</fieldset>


<br/>

<div class="box">

    <h3 class="text-info">관련 앨범 사진 </h3>
    <p><a href="{% url 'photo:album_detail' object.album.id %}">
    {{ object.album.name }} <br/>
    <img style="max-width:15%" src="{{ object.image.url }}" />
</a></p> 


<h3 class="text-info">관련 앨범 비디오 </h3> 
{% if object.videourl %} 
<a href="{{ object.videourl }}"> 
<img style="max-width:15%" src="{{object.image.url}}" />
{% else %}  {% endif %}
</a>


</div> 




&emsp; &emsp; &emsp; &emsp; &emsp;   
    <div id="app">
      <div class="container">
        <div class="row">
      
     
          <!-- <div class="form-inline my-2 my-lg-0" style="margin-left: 71%;">
            <input class="form-control mr-sm-2" type="text" placeholder="Music  Enter" v-model="search_term" aria-label="Search"> 
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getMusics()">Music Search</button> 
          </div> -->
          <table class="table text-dark">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">곡정보</th>
                <!-- <th scope="col">곡정보</th> -->
                <!-- <th scope="col">genre</th> -->
                <th scope="col">작곡가</th>
                <th scope="col">듣기</th>
                <th scope="col">나의 앨범</th>
                <th scope="col">가격</th>
                <!-- <th>%{albums[0].url}</th> -->
                <!-- <p v-bind=%{albums.image}></p> -->
            </thead>
                <!-- <th scope="col">이미지</th> -->
                <!-- <th scope="col">해쉬값</th> -->
                <tbody
                v-for="album in albums"
                >
                <td></td>
                 <th scope="row">%{album.name}</th>
                 <!-- <td><a v-bind:href=album.url>아이유 포토</a></td> -->
              
                 <td>%{album.playcount}</td>
                 <td>
                 <a href="{% url 'streaming:play'%}"> <i class="fa fa-play">
                 </i>
                 </td>
                 <td><a href="{% url 'streaming:myalbum'%}"><i class="fa fa-download"></i></a></td>
                 <td>%{album.playcount}</td>
                  
                </tbody>
            </table>
                   
        </div>
      </div>
      <div class="container">
          <div class="column add-bottom">
              <div id="mainwrap">
                  <div id="nowPlay">
                      <span id="npAction">Paused...</span><span id="npTitle"></span>
                  </div>
                  <div id="audiowrap">
                      <div id="audio0">
                          <audio id="audio1" preload controls>Your browser does not support HTML5 Audio! 😢</audio>
                  
                      
                      </div>
                      <div id="tracks" class="text-dark">
                          <a id="btnPrev">&larr;</a><a id="btnNext">&rarr;</a>
                      </div>
                  </div>
                  <div id="plwrap" class="text-dark">
                      <ul id="plList"></ul>
                      
                  </div>
              </div>
          </div>
          <div class="column add-bottom center">
              <a href="{% url 'main:home'%}"> SSound Music </a> 
     </a></p>
              <!-- <p>Download: <a href="https://archive.org/ownload/mythium/mythium_vbr_mp3.zip">zip</a> / <a href="https://archive.org/download/mythium/mythium_archive.torrent">torrent</a></p> --> 
          </div>
      </div>  
    </div>

{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script src="{% static 'js/streaming_detail.js'%}"></script>



{% endblock content %}
    














<style>

/*album_list.html */
div.album-list {
    margin : 200px 120px; 
}

div.album-list-photo {
    float : left; 
    width : 150px;
    height : 180px;
}

/* album_detail.html */
div.album-detail {
    margin : 30px 10px; 
}

div.album-detail-photo {
    float : left; 
    width : 100px;
    height : 110px; 
}

img.thumbnail {
    float : left; 
    width : 300px;
    height : 310px;
}

div.album-detail-photo > li {
    font-size : 10px;
    font-weight : bold;
    font-style : italic; 
}

/* photo_detail.html */ 
table.photo-detail {
    margin : 30px 50px 0 50px;
    border : 1px solid #ccc;
    padding : 20px 20px; 
}

table.photo-detail td {
    width : 85%; 
}

table.photo-detail ul li {
    font-weight : bold; 
}

table.photo-detail ul p {
    font-style : italic; 
}

/* common */ 
img.thumbnail {
    border :3px solid #ccc; 
}

div.clear_float {
    clear: both;
}

section.description {
    margin : 30px 50px 0 50px;

}

div.box {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
}


/* img {
    display : inline-block !important;
    float : left; 
    margin-right :auto;

} */





</style>