
{% extends 'base.html' %}

{% block title %}앨범 photo 디테일 여기에 player와 photo 설명을 붙인다.{% endblock %}


{% block content %}
<div id="content">
    <h2>{{ object.title }} </h2>
</div>

<table class="photo-detail">
    <tr>
        <td>
            <a href="{{ object.image.url }}">
            <img style="max-width:30%" src="{{ object.image.url }}" />
            </a>
        </td>

        <td>
            <ul>
                <li>Photo Description</li>
                {% if object.description %}<p>{{ object.description | linebreaks }}</p>
                {% else %}<p>(blank></p> {% endif %}
                <li>Album name</li>
                <p><a href="{% url 'photo:album_detail' object.album.id %}">
                {{ object.album.name }}    
                </a></p> 
                
            </ul>
        </td>
    </tr>
</table>

</div>
{% endblock content %}
    
    