
{% extends 'base.html' %}

{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% block content %}

<div id="app">
<div class="hash text-info">

    <h4>파일 업로드 성공하였습니다. </h4>         
    
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp 
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp 
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp 
    

    <h3 >등록하신 음원의 고유 해쉬값은 </h3>
    <h3>{{ hash }}</h3>
    

    
</div>

</div>

&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp

<p><a href="{% url 'main:home' %}">Return to home</a></p>


{% load static %}
<script src="{% static 'js/ipfsUpload.js'%}"></script>

<script>

var app = new Vue({
    el : 'app',
    delimiters: ['%{','}'],
    data : {
        count : 0
    },

})
  

</script>



{% endblock content %}