<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4-single-file-component</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'js/theme/build.js'%}"></script>
</head>
<body>
    <!-- <div id="theme"></div>
        {% load static %}
        <script src="{% static 'js/theme/build.js'%}"></script>
    -->

            <nav class="navbar navbar-expand-lg navbar-light rounded mr-auto ml-auto" style="background-color:#6731EF; max-width:1300px">
                <!-- <a class="navbar-brand" href="#"><img src="{% static 'img/logo2.png'%}" width="100"></a> -->

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search" style='width:450px'>
                        <button class="btn bg-light" type="submit"><img src="{% static 'img/search2.png'%}" width="15"></button>
                    </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link text-light pl-3" href="#">스트리밍 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-light pl-3" href="#">저작권 거래</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-light pl-3" href="#">마이크로페이먼트</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-light pl-3" href="#">코인거래소</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link notification pl-3" href="#">
                            <span><img src="{% static 'img/notify.svg'%}" width="15"></span>
                            <span class="badge">3</span>
                        </a>
                    </li>
                    <li class="nav-item pl-3">
                        <a class="profile" href="#"><img src="{% static 'img/profile.jpg'%}" class="rounded-circle" alt="Cinque Terre" width="40" height="40"> </a>
                    </li>
                    <li class="nav-item text-light nav-link">
                        {{ user.email }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout/"><img src="{% static 'img/logout.svg'%}" width="15"></a>
                    </li>
                </ul>

                </div>
            </nav>

            <div class="heading">
                {% load static %}
                <img src="{% static 'img/logo.png'%}" width="100">
            </div>
            
            <div id="app">
            {% load static %}
            <script src="{% static 'js/player/build.js'%}"></script>
</div>  
</body>
</html>
