<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
</head>
<body>
    <div id=app>
        {% load static %}

        <!-- <script src="{% static 'js/todo/build.js'%}"></script>  -->        
        <!-- <srcipt scr="{% static 'js/soundcloud/js/app.0c83980c46d419978a63.js'%}"></srcipt>
        <srcipt scr="{% static 'js/soundcloud/js/manifest.2ae2e69a05c33dfc65f8.js'%}"></srcipt>
        <srcipt scr="{% static 'js/soundcloud/js/vendor.aebcd74ca64ea5057676.js'%}"></srcipt>
        <srcipt scr="{% static 'js/soundclo1ud/css/app.01242e30cbf22bd08db7a6435e3de8c6.css'%}"></srcipt> -->

        <!-- theme -->
        <!-- <script src="{% static 'js/todo/build.js'%}"></script> -->
        <!-- <script src="{% static 'js/theme/build.js'%}"></script> -->
        <!-- <script src="{% static 'js/itunes/app.f146382e.js'%}"></script>
        <script src="{% static 'js/itunes/chunk-vendors.e67a4b32.js'%}"></script>
        <script src="{% static 'js/itunes/app.713b464f.css'%}"></script> -->
        <!-- itunes  api test-->
        
    </div>

<div>
   안녕
</div>

<div>
    dfdfd
</div>

</body>
</html>

