<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이미지 테스트 </title>

</head>

<body>

    <div id="app">
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Music</th>
                        <th scope="col">title</th>
                        <th scope="col">곡정보</th>
                        <!-- <th scope="col">genre</th> -->
                        <th scope="col">작곡가</th>
                        <!-- <th scope="col">agency</th> -->
                        <th scope="col">듣기</th>
                        <th scope="col">내 음악</th>
                        <th scope="col">가격</th>
                      </table>

      <div 
        v-for="test in albums"
       
      >
      
       <td> ${test.url} </td> <br/>
       <td>${test.mbid}</td>
    <!-- <td>${albums[0].hash}</td> <br/> -->
    <!-- <td><img :src="image"></td> -->
    <td><img :src="image1"></td>
    ${Date()}
                   
  </div>



    </div>
    
  </table>


</body>



<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% load static %} 
<script src="{% static 'js/streaming_test5.js'%}"></script>
</html>