<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> grid + Vue.js</title>
    {% extends 'base3.html' %}
    {% load staticfiles %}
      
</head>
<body>
  {% block content %}
        <div id="app">

                <header>
                       
                      </header>
            
                    <section id="controls">
                        <div>
                            <p>그리드 size, row 컨트롤 </p>
                            <code>
                            <span>display:</span> grid;<br>
                                <span>grid-template-columns:</span> repeat(<strong v-if="gridItems > 0">${gridItems}</strong><strong v-else>auto-fill</strong>, minmax(<strong>${gridMin}px</strong>, 1fr));<br>
                            <span>grid-gap:</span> <strong>${gridGap}px</strong>;
                            </code>
                        </div>
                <div>
                    <p>그리드 갭 <em>&mdash; the size of the gutter</em> <label for="grid-gap">${gridGap}</label></p>
                    <input type="range" id="grid-gap" min="10" max="80" step="5" v-model="gridGap" v-on:change="changeGridGap">
        
                    <p>그리드 크기 <em>&mdash; the minimum size of each grid item</em> <label for="grip-min">${gridMin}</label></p>
                    <input type="range" id="grid-min" min="100" max="375" step="5" v-model="gridMin" v-on:change="changeGridMin">
                    
                    <p>그리드 화면 개수
                        <label for="grid-items" v-if="gridItems > 0">${gridItems}</label>
                        <label for="grid-items" v-else>auto-fill</label>
                    </p>
                        <input type="range" id="grid-items" min="0" max="10" step="1" v-model="gridItems" v-on:change="changeGridItems">
                    </div>
                </section>
            
                <transition-group tag="main" name="card">
                    <article v-for="(album, index) in albums" :key="index" class="card" >
                        <a :href="album.url" target="_blank">
                            <div class="image" v-for="image in album.image" v-if="image.size == 'extralarge'">
                                <img v-if="image['#text'] !== ''" :src="image['#text']" :alt="album.name" v-on:load="isLoaded()" v-bind:class="{ active: isActive }">
                                <img v-else src="https://source.unsplash.com/random/300x300" :alt="album.name" v-on:load="isLoaded()" v-bind:class="{ active: isActive }">
                            </div>
                            <div class="description">
                                <span class="playcount">
                                    <span v-bind:style="{width: m_percentage(album.playcount) + '%'}"></span>
                                </span>
                                <h3 class="title" :data-mbid="album.mbid">{{album.name}}</h3>
                                <p class="artist">{{album.artist.name}}</p>
                            </div>
                        </a>
                    </article>
                </transition-group>

                {% load static %}
                
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

                <script src="{% static 'js/main_grid.js'%}"></script>

            </div>
      {% endblock content %}
</body>


</html>