<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue axios 연습</title>
</head>
<body>
    <div id="app">
        <h1>Bitcoin Price Index</h1>
         <div 
            v-for="currency in info"
            class="currency"
         >
         ${currency.description}
         <span class="lighten">
            <span v-html="currency.symbol"></span>   ${currency.rate_float | currencydecimal}

         </span>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el:'#app',
            delimiters: ['${','}'],
            data() {
                return {
                    info:null,
                    loading:true,
                    errored:false
                }
            },
            filters: {
                currencydecimal (value) {
                    return value.toFixed(5)
                }
            },
            mounted() {
                axios
                    .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                    .then(response => (this.info=response.data.bpi))
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
                    
                        }
        })
    
    </script>
</body>
</html>